@font-face {
  font-family: "garinefirst";
  src: url("../fuentes/garine-first-webfont.eot");
  src: url("../fuentes/garine-first-webfont.eot?#iefix") format("embedded-opentype"), url("../fuentes/garine-first-webfont.woff2") format("woff2"), url("../fuentes/garine-first-webfont.woff") format("woff"), url("../fuentes/garine-first-webfont.svg#garinefirst") format("svg");
  font-weight: normal;
  font-style: normal;
}

.garine {
  font-family: "garinefirst";
}

.fz-title {
  font-size: 4rem;
}

.borde {
  border: 1px solid black;
}

.fondo1 {
  background-color: pink;
}

.fondo2 {
  background-color: lightcoral;
}

.fondo3 {
  background-color: rgba(255, 160, 122, 0.5);
}

.filter {
  background-color: rgba(247, 176, 148, 0.75);
}

.fondo4 {
  background-color: palegreen;
}

.fondo5 {
  background-color: darkseagreen;
}

.fondo6 {
  background-color: aquamarine;
}

.color {
  color: white;
}

.colorTitulo {
  color: antiquewhite;
}

.alto {
  height: 300px;
}

.vinculo {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {
  background-image: url("../img/panoramicaMadrid.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.pantalla {
  height: 100vh !important;
}

.centro {
  text-align: center;
}

header {
  position: relative;
}

#logo {
  width: 181px;
  height: 80px;
  background-image: url("../img/logoblanco.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
  position: absolute;
  top: 8px;
  left: 40px;
  z-index: 1;
}

@media screen and (max-width: 991px) {
  #logo {
    left: calc(50% - 90.5px);
  }
}

@media screen and (min-width: 576px) {
  .draw {
    background-image: url("../img/dibujo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

footer {
  height: 10rem;
  background-color: rgba(44, 43, 43, 0.623);
}

.sombra {
  -webkit-box-shadow: 5px 5px 5px gray;
          box-shadow: 5px 5px 5px gray;
}

.textShadow {
  text-shadow: 5px 5px 6px black;
}

.mBottom {
  margin-bottom: 6rem;
}

.mtop {
  margin-top: 6rem;
}

.fb {
  display: inline-block;
  background-image: url("../img/sprite.png");
  width: 84px;
  height: 84px;
  font-size: 0;
  background-position: 0px -84px;
}

.tw {
  display: inline-block;
  background-image: url("../img/sprite.png");
  width: 84px;
  height: 84px;
  font-size: 0;
  background-position: -672px -84px;
}

.yt {
  display: inline-block;
  background-image: url("../img/sprite.png");
  width: 84px;
  height: 84px;
  font-size: 0;
  background-position: -840px -84px;
}

.list--style {
  list-style: none;
}

#logo--footer {
  width: 181px;
  height: 80px;
  background-image: url("../img/logoblanco.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.contacto__header {
  width: 100vw;
  height: 40vh;
  background-image: url("../img/debod-desk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contacto__fondo {
  background-image: url("../img/dibuSol.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/*# sourceMappingURL=estilos.css.map */